{% extends "ftm/index.html" %}
{% block knoppen %}{% endblock knoppen %}
{% block datumrange %}{% endblock datumrange %}
{% block grafiek %}
<html>
<body>
{% load staticfiles %}
<p>
Tijdreeks voor x={{x}} en y = {{y}}
</p>
<img src="{% static plotje %}" alt="Tijdstijghoogtelijn"/>
</body>
</html>
{% endblock grafiek %}

{% block content %}

<table>
  <tr>
    <th>Parameters</th>
    <th>Waarde</th>
  </tr>
  <tr>
    <td>GHG</td>
    <td>{{ghg}}</td>
  </tr>
  <tr>
    <td>GLG</td>
    <td>{{glg}}</td>
  </tr>
  <tr>
    <td>GT</td>
    <td>{{gt}}</td>
  </tr>
</table>

{% endblock content %}