{% extends "ftm/index.html" %}
{% block knoppen %}{% endblock knoppen %}
{% block datumrange %}{% endblock datumrange %}
{% block grafiek %}
<html>
<body>
{% load staticfiles %}
<p>
Tijdreeks voor x={{x}} en y = {{y}}
</p>
<img src="{{plotje}}" alt="Tijdstijghoogtelijn"/>
</body>
</html>
{% endblock grafiek %}

{% block content %}

{% block download %}
<script>
function download_csv(){
	var x = {{x}};
	var y = {{y}};
	url = 'download-reeks?x=' + x + '&y=' + y + '&startdatum=2005-01-01' + '&einddatum=2015-11-08';
		      window.open(url);
}
</script>
<p><input id=Download_csv type=button value=Download_csv enabled=enabled onclick="download_csv();"></p>
{% endblock download %}

<table>
  <tr>
    <th>Parameters</th>
    <th>Waarde</th>
  </tr>
  <tr>
    <td>GHG</td>
    <td>{{ghg}}</td>
  </tr>
  <tr>
    <td>GLG</td>
    <td>{{glg}}</td>
  </tr>
  <tr>
    <td>GT</td>
    <td>{{gt}}</td>
  </tr>
</table>

{% endblock content %}
