<html>
<script>
   function bereken() {
      var y = document.getElementById("latbox").value;
      var x = document.getElementById("lngbox").value;
      url = 'grondwaterstand?x=' + x + '&y=' + y;
      window.open(url);
   }
</script>
<script>
   function bereken_snel() {
      var y = document.getElementById("latbox").value;
      var x = document.getElementById("lngbox").value;
      url = 'grondwaterstand-snel?x=' + x + '&y=' + y;
      window.open(url);
   }
</script>
<script>
   function bereken_sql() {
      var y = document.getElementById("latbox").value;
      var x = document.getElementById("lngbox").value;
      url = 'grondwaterstand-sql?x=' + x + '&y=' + y + '&startdatum=2005-01-01' + '&einddatum=2015-11-08';
      window.open(url);
   }
</script>

{% block functie_init_kaartje %}
<cfoutput>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=#YOUR-GOOGLE-API-KEY#&sensor=false"></script>
</cfoutput>

<script type="text/javascript">
//<![CDATA[

    // global "map" variable
    var map = null;
    var marker = null;

    // popup window for pin, if in use
    var infowindow = new google.maps.InfoWindow({ 
        size: new google.maps.Size(150,50)
        });

    // A function to create the marker and set up the event window function 
    function createMarker(latlng, name, html) {

    var contentString = html;

    var marker = new google.maps.Marker({
        position: latlng,
        map: map,
        zIndex: Math.round(latlng.lat()*-100000)<<5
        });

    google.maps.event.addListener(marker, 'click', function() {
        infowindow.setContent(contentString); 
        infowindow.open(map,marker);
        });

    google.maps.event.trigger(marker, 'click');    
    return marker;

}

function initialize() {

    // the location of the initial pin
    var myLatlng = new google.maps.LatLng(53.3847, 6.5108);

    // create the map
    var myOptions = {
        zoom: 10,
        center: myLatlng,
        mapTypeControl: true,
        mapTypeControlOptions: {style: google.maps.MapTypeControlStyle.DROPDOWN_MENU},
        navigationControl: true,
        mapTypeId: google.maps.MapTypeId.ROADMAP
    }

    map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

    // establish the initial marker/pin
    var image = '/static/googlepins/pin2.png';  
    marker = new google.maps.Marker({
      position: myLatlng,
      map: map,
      icon: image,
      title:"Locatie berekening"
    });

    // establish the initial div form fields
    formlat = document.getElementById("latbox").value = myLatlng.lat();
    formlng = document.getElementById("lngbox").value = myLatlng.lng();

    // close popup window
    google.maps.event.addListener(map, 'click', function() {
        infowindow.close();
        });

    // removing old markers/pins
    google.maps.event.addListener(map, 'click', function(event) {
        //call function to create marker
         if (marker) {
            marker.setMap(null);
            marker = null;
         }

        // Information for popup window if you so chose to have one
        /*
         marker = createMarker(event.latLng, "name", "<b>Location</b><br>"+event.latLng);
        */

        var image = '/static/googlepins/pin2.png';
        var myLatLng = event.latLng ;
        /*  
        var marker = new google.maps.Marker({
            by removing the 'var' subsquent pin placement removes the old pin icon
        */
        marker = new google.maps.Marker({   
            position: myLatLng,
            map: map,
            icon: image,
            title:"Locatie berekening"
        });

        // populate the form fields with lat & lng 
        formlat = document.getElementById("latbox").value = event.latLng.lat();
        formlng = document.getElementById("lngbox").value = event.latLng.lng();

    });

}
    
//]]>

</script> 
{% endblock functie_init_kaartje %}
<title>FTM op localhost</title>

<body onLoad="initialize()">
{% block tekst1 %}
<p>Welkom op de site van het fysisch tijdreeksmodel voor freatische grondwaterstanden. Met de webapplicatie die hier gepresenteerd en ontsloten wordt, is het mogelijk om op een eenvoudige manier grondwaterstanden te berekenen in het <b>landelijk gebied</b>.</p>
<p> Deze site is het resultaat van een afstudeerstage bij Acacia Water in Gouda <a href="http://www.acaciawater.com" target="_blank">site van Acacia Water</a>. De site is nog volop in ontwikkeling, waardoor het nog niet verstandig is om er voor 100% op te vertrouwen dat de gegenereerde resultaten kloppen en dat de site lekker werkt, aan die zaken wordt nog volop gewerkt.</p>
Gezien het feit dat de site nog in ontwikkeling is, wordt het beheergebied van waterschap Noorderzijlvest gebruikt als rekengebied.
Dat betekent dat het alleen voor het net genoemde gebied mogelijk is om grondwaterstanden te genereren.
Op het moment dat de berekeningen voor dit beperkte proefgebied goed werken en eventuele fouten op een nette manier afgehandeld worden, kan het ftm over heel Nederland uitgerold worden.

{% endblock tekst1 %}

{% block kaartje %}
  <div id="map_canvas" style="width:50%; height:50%"></div>
  <div id="latlong">
    <p>Latitude: <input size="20" type="text" id="latbox" name="lat" ></p>
    <p>Longitude: <input size="20" type="text" id="lngbox" name="lng" ></p>
  </div>
{% endblock kaartje %}

{% block knoppen %}  
  <input id=Grondwaterstand type=button value=Bereken enabled=enabled onclick="bereken();">
  <input id=Grondwaterstand type=button value=Bereken_snel disabled=disabled onclick="bereken_snel();">
  <input id=Grondwaterstand type=button value=Bereken_sql enabled=enabled onclick="bereken_sql();">
<p>De knop 'bereken' zorgt dat er een tijdreeks gegenereerd wordt voor de periode van 1 januari 1970 tot ergens in oktober 2015, hierin is niet te selecteren van wanneer tot wanneer de berekening moet lopen </p>
<p>De knop 'bereken_snel' maakt gebruik van het originele ftm in Pascal, deze heeft dezelfde functionaliteit als de knop 'bereken', maar werkt sneller. Deze knop zal verdwijnen, omdat deze een flinke hoeveelheid bestanden genereerd, die maar voor eenmalig gebruik zijn.</p>
<p>De knop "bereken_sql zal uiteindelijk overblijven, deze rekent met hetzelfde rekenhart als "bereken", maar doordat de meteodata uit een mysql databank komt, is er in de tijd te selecteren. Klikken op deze knop opent een nieuw tabblad met in de link, naast de x en y coördinaat een begin- en einddatum. Deze tijdsspanne is nog hard gecodeerd, maar het is voor de gebruiker mogelijk om na het openen van de link (het klikken op de knop) zelf deze range aan te passen. </p>
{% endblock knoppen %}
 
{% block datumrange %}
<meta charset="utf-8">
<!-- Include Required Prerequisites -->
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap/latest/css/bootstrap.css" />
 
<!-- Include Date Range Picker -->
<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
<p> Selecteer met onderstaande daterange selector de begin (en na verdere ontwikkeling de eind-) datum van de berekening van de grondwaterstanden </p>
<b>Let op, deze daterange selector doet wel iets, maar de gegevens hieruit worden niet doorgegegeven aan de sql-query, het gebruik ervan is nu nog zinloos</b>
<input type="text" name="daterange" value="2013-01-01 - 2013-12-31" />
<script type="text/javascript">
$('input[name="daterange"]').daterangepicker(
{
    locale: {
      format: 'YYYY-MM-DD'
    },
    startDate: '2013-01-01',
    endDate: '2013-12-31'
}, 
function(start, end, label) {
    alert("U hebt een nieuwe rekenperiode gekozen: " + start.format('YYYY-MM-DD') + ' tot ' + end.format('YYYY-MM-DD'));
});
</script>
{% endblock datumrange %}

{% block grafiek %}
{% endblock grafiek %}

{% block content %}
{% endblock content %}


</body>
</html>
