<html>
<script>
   function bereken() {
      var y = document.getElementById("latbox").value;
      var x = document.getElementById("lngbox").value;
      url = 'grondwaterstand?x=' + x + '&y=' + y;
      window.open(url);
   }
</script>
<script>
   function bereken_snel() {
      var y = document.getElementById("latbox").value;
      var x = document.getElementById("lngbox").value;
      url = 'grondwaterstand-snel?x=' + x + '&y=' + y;
      window.open(url);
   }
</script>
<script>
   function bereken_sql() {
      var y = document.getElementById("latbox").value;
      var x = document.getElementById("lngbox").value;
      url = 'grondwaterstand-sql?x=' + x + '&y=' + y + '&startdatum=2015-01-01' + '&einddatum=2015-11-08';
      window.open(url);
   }
</script>
<meta charset="utf-8">
<title>FTM op localhost</title>
<body onLoad="initialize()">

  <div id="map_canvas" style="width:50%; height:50%"></div>

  <div id="latlong">
    <p>Latitude: <input size="20" type="text" id="latbox" name="lat" ></p>
    <p>Longitude: <input size="20" type="text" id="lngbox" name="lng" ></p>
  </div>
  <input id=Grondwaterstand type=button value=Bereken enabled=enabled onclick="bereken();">
  <input id=Grondwaterstand type=button value=Bereken_snel enabled=enabled onclick="bereken_snel();">
  <input id=Grondwaterstand type=button value=Bereken_sql enabled=enabled onclick="bereken_sql();">
Selecteer met onderstaande slider de begin (en na verdere ontwikkeling de eind-) datum van de berekening van de grondwaterstanden
</body>
</html>

<cfoutput>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=#YOUR-GOOGLE-API-KEY#&sensor=false"></script>
</cfoutput>

<script type="text/javascript">
//<![CDATA[

    // global "map" variable
    var map = null;
    var marker = null;

    // popup window for pin, if in use
    var infowindow = new google.maps.InfoWindow({ 
        size: new google.maps.Size(150,50)
        });

    // A function to create the marker and set up the event window function 
    function createMarker(latlng, name, html) {

    var contentString = html;

    var marker = new google.maps.Marker({
        position: latlng,
        map: map,
        zIndex: Math.round(latlng.lat()*-100000)<<5
        });

    google.maps.event.addListener(marker, 'click', function() {
        infowindow.setContent(contentString); 
        infowindow.open(map,marker);
        });

    google.maps.event.trigger(marker, 'click');    
    return marker;

}

function initialize() {

    // the location of the initial pin
    var myLatlng = new google.maps.LatLng(53.3847, 6.5108);

    // create the map
    var myOptions = {
        zoom: 10,
        center: myLatlng,
        mapTypeControl: true,
        mapTypeControlOptions: {style: google.maps.MapTypeControlStyle.DROPDOWN_MENU},
        navigationControl: true,
        mapTypeId: google.maps.MapTypeId.ROADMAP
    }

    map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

    // establish the initial marker/pin
    var image = '/static/googlepins/pin2.png';  
    marker = new google.maps.Marker({
      position: myLatlng,
      map: map,
      icon: image,
      title:"Locatie berekening"
    });

    // establish the initial div form fields
    formlat = document.getElementById("latbox").value = myLatlng.lat();
    formlng = document.getElementById("lngbox").value = myLatlng.lng();

    // close popup window
    google.maps.event.addListener(map, 'click', function() {
        infowindow.close();
        });

    // removing old markers/pins
    google.maps.event.addListener(map, 'click', function(event) {
        //call function to create marker
         if (marker) {
            marker.setMap(null);
            marker = null;
         }

        // Information for popup window if you so chose to have one
        /*
         marker = createMarker(event.latLng, "name", "<b>Location</b><br>"+event.latLng);
        */

        var image = '/static/googlepins/pin2.png';
        var myLatLng = event.latLng ;
        /*  
        var marker = new google.maps.Marker({
            by removing the 'var' subsquent pin placement removes the old pin icon
        */
        marker = new google.maps.Marker({   
            position: myLatLng,
            map: map,
            icon: image,
            title:"Locatie berekening"
        });

        // populate the form fields with lat & lng 
        formlat = document.getElementById("latbox").value = event.latLng.lat();
        formlng = document.getElementById("lngbox").value = event.latLng.lng();

    });

}
//]]>

</script> 
